root = true

[*]
indent_style = space
tab_width = 4
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
curly_bracket_next_line = true
spaces_around_operators = true

# 2-space indentation
[{package.json,package-lock.json,**.yml}]
indent_style = space
indent_size = 2
tab_width = 2

# no final newline
[{**.sql,**.json}]
insert_final_newline = false
