# Logs
logs
*.log
npm-debug.log*

# npm
node_modules/
.npm

# Dotenv environment variables file
.env

# Other potentially sensitive information:
data/lists/blacklisted.json
data/lists/whitelisted.json
data/lists/noLogging.json

# Dev stuff:
test.js
src/dev/ghb/
*.bak