# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Dev stuff:
dev/madge/
dependency-graph.html
test.js

# Docs:
docs/documentation.html
docs/*_injected.*
docs/*.br*
docs/*.gz*
docs/*.zz*

# Re-inclusions:
!change.log*

# Joke submissions:
data/submissions/submission_*.json