# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Optional npm cache directory
.npm

# Dotenv environment variables file
.env

# Dev stuff:
dev/madge/
dev/ghb/
dependency-graph.html
test.js
!tools/test.js
changelog-data.json
data/jokes-bak/
data/jokes-2.4-bak/

# Docs:
docs/documentation.html
docs/compiled

# Dark jokes (GitHub TOS):
data/jokes/dark/
data/jokes/old/

# Joke submissions:
data/submissions
data/submissionCache.json

# Auth Tokens:
data/auth/tokens.json

# Other potentially sensitive information:
data/lists/ipBlacklist.json

# Dev stuff:
dev/madge/
dependency-graph.html
test.js
!tools/test.js
dev/ghb/
