@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
    --bg-color: #2e323b;
    --bg-accent-color: #1d2025;
    --bg-accent-color-darker: #111316;
    --bg-accent-color-sidenav-opened: #4e535c;
    --bg-accent-color-darker-sidenav-opened: #5e646e;
    --bg-color-sidenav-opened: #616369;
    --header-bg-color: #0b1031;
    --header-bg-color-sidenav-opened: #0b1031;

    --doc-header-color: #fff;

    --header-height: 50px;

    --accent-color: #8a2be2;
    --accent-color-light: #b05ffc;
    --accent-color-sidenav-opened: #a779d3;

    --doc-header-font-size: 27px;
    --doc-sub-header-font-size: 22px;

    --sidenav-animation-speed: 0.20s;
    --sidenav-colorblur-speed: 0.15s;
    --targetblink-animation-delay: 0.5s;

    --scrollbar-track-color: #222;
    --scrollbar-thumb-color: rgba(175, 175, 175, .7);
    --scrollbar-webkit-hover-color: rgba(65, 131, 196, .8);

    --line-height: calc(100% + 7px);
}

@font-face { 
    font-family: "Cascadia Code";
    src: url("./cascadia-code.ttf"); /* URL can't have the "./static/" path since this CSS file is already loaded from "./static/" */
}






/* #MARKER BEGIN */
html, body, #main {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: #fff;
    font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
    font-size: 18px;
    line-height: var(--line-height);
    font-weight: 200;

    overflow-y: hidden;

    transition: background-color ease-out var(--sidenav-colorblur-speed);

    /* Ah yes web development */
    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noa {
    color: inherit;
}

.noul, .mimica {
    cursor: pointer;
}

a:not(.noul), .mimica:not(.noul) {
    color: #8f9aff;
    text-decoration: none;
}

a:not(.noul):hover, .mimica:not(.noul):hover {
    color: #bcc2ff;
    text-decoration: underline;
}

.rtext {
    text-align: right;
}

.blackshadow {
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.whiteshadow {
    text-shadow:
        -1px -1px 0 #fff,  
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}

body[data-sidenav="opened"] {
    background-color: var(--bg-color-sidenav-opened);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body[data-sidenav="closed"] {
    background-color: var(--bg-color);

    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
}

.lText {
    font-size: 120%;
}

/*#MARKER scrollbar*/
::-webkit-scrollbar {
    max-width: 10px !important;
    max-height: 10px !important;
    background: var(--scrollbar-track-color) !important;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-color) !important;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color) !important;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-webkit-hover-color) !important;
}

:root {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color) !important;
    scrollbar-width: thin !important;
}

/*#MARKER header*/
header {
    /* position: -webkit-sticky;
    position: sticky; */
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--header-bg-color);
    z-index: 1000;

    transition: filter ease-out var(--sidenav-colorblur-speed), width linear var(--sidenav-animation-speed);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    height: var(--header-height);

    filter: grayscale(0%) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));

    line-height: initial;
}

header[data-grayscaled="true"] {
    filter: grayscale(100%) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    background-color: var(--header-bg-color-sidenav-opened);
    width: 100%;
}

header .headeritem {
    display: inline-block;
    white-space: nowrap;
    flex-grow: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

header .headeritem.m {
    flex-grow: 1;
    text-align: center;
}

header .headeritem.r {
    text-align: right;
}

header #docTitle {
    cursor: pointer;
    margin: 0;
    font-size: 30px;
    color: #fff;
}

#headerversion {
    display: inline-block;
    padding-right: 10px;
}

#headerVersionNumber {
    padding-right: 6px;
}

#headersidenavopenwrapper {
    padding-left: 5px;
}

#docTitle {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    white-space: nowrap;

    transition: color 0.4s linear, filter 0.2s linear, transform 0.4s cubic-bezier(0,0,.27,1.77);

    transform: rotate(0deg) scale(1.0);
    filter: none;
}

@media (max-width: 750px) {
    header #docTitle {
        font-size: 20px;
        white-space: normal;
    }

    .mobileHide {
        display: none;
    }
}

#docTitle:hover {
    color: var(--accent-color-light);

    transform: rotate(1deg) scale(1.15);
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8));
}

.noa {
    cursor: default;
}

.noa, header #docTitle:hover {
    text-decoration: none;
}

/*#MARKER main content*/
label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered {
    text-align: center;
}

.miniimg {
    height: 1.1em;
}

.miniimg.invert {
    filter: invert(100%);
}

.shadow {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
}

img.badge {
    /* badges slide up a few pixels for some reason */
    height: 1.15em;
    position: relative;
    bottom: -2.5px;
}

#f_langHideContainer.hidden {
    visibility: hidden;
}

input#f_customLang {
    width: 3em;
}

#uptimeTable tr td:last-child {
    padding-left: 5px;
}

.alternatingBgTable {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border-spacing: 0;
}

.alternatingBgTable tr:nth-child(2n+1) td {
    background-color: rgba(0, 0, 0, 0.2);
}

.alternatingBgTable tr:nth-child(1) > th {
    border: 1px solid #fff;
    border-style: none none solid none;
    text-align: left;
}

.alternatingBgTable tr > td:nth-child(1) {
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 10px;
}

.alternatingBgTable tr th:not(:first-child), .alternatingBgTable tr td:not(:first-child) {
    padding: 2px 10px 2px 10px;
}

.alternatingBgTable tr th:first-child {
    padding-right: 10px;
    padding-bottom: 2px;
}

.alternatingBgTable tr td:not(:first-child) {
    border: 1px solid #777;
    border-style: none none none solid;
}

table tr td.g, span.col.g {
    color: #65b365;
}

table tr td.r, span.col.r {
    color: #ffad41;
}

table tr td.dr, span.col.dr {
    color: #d92727;
}

.colB {
    color: #a9a9ff;
}

.colY {
    color: #ffff8a;
}

details summary {
    font-size: 110%;
    padding-top: 2px;
    padding-bottom: 5px;
    cursor: pointer;
}

details summary.big {
    font-size: 110%;
}

#newsList li {
    padding-top: 20px;
}

mark {
    border: 1px solid #58616d;
    border-radius: 2px;
    background-color: var(--bg-accent-color);
    display: inline-block;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Cascadia Code", "Roboto Mono", "Courier New", monospace;
    font-variant-ligatures: none;
    color: #ccc;
    transition: background-color ease-out var(--sidenav-colorblur-speed);
}

body[data-sidenav="opened"] mark {
    background-color: var(--bg-accent-color-sidenav-opened);
}

#bodyFlexContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100vh;
    scroll-behavior: smooth;
}

#bodyFlexContainer .bodyFlexItem {
    flex-grow: 1;
}

.jsg_menu {
    z-index: 1001;
}

#devStuff {
    display: inline-block;
    width: 95vw;
    border: 2px solid #f40;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#devStuff::before {
    content: "Dev Stuff:";
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 15px;
    color: #f40;
}

#content {
    overflow-y: auto;
    padding: 26px;
    margin-left: 10px;

    padding-top: 0;
    margin-top: 0;

    transition: margin-left var(--sidenav-animation-speed);
}


@media (max-width: 750px) {
    #content {
        padding: 10px;
        margin-left: 5px;
    }
}

body[data-sidenav="closed"] code, body code {
    font-family: "Cascadia Code", "Courier New", "Consolas", monospace;
    font-variant-ligatures: none;
    font-size: 15px;

    white-space: pre-wrap;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    background-color: #111;
    display: block;

    border-radius: 8px !important;
    border-left: 8px solid var(--accent-color) !important;

    filter: grayscale(0%);

    transition: filter ease-out var(--sidenav-colorblur-speed);
}

body code > .actualCode {
    padding: 0px 10px 18px 20px;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.25;
}

body code .pln:first {
    display: none;
}

body[data-sidenav="opened"] code {
    background-color: #555;

    filter: grayscale(50%);

    transition: filter ease-out var(--sidenav-colorblur-speed);
}

body code .nocode.codeheader {
    font-family: "Cascadia Code", "Roboto Mono", "Courier New", monospace;
    font-size: 19px;

    display: block;
    padding-top: 6px;
    padding-bottom: 4px;
    
    border: 3px solid var(--accent-color);
    border-style: none none solid none;
}

body code .nocode.codeheader::before {
    font-size: 19px;
    color: var(--accent-color-light);
    content: "</>";
    padding: 0px 15px;
}

kbd {
    font-family: "Cascadia Code", "Roboto Mono", "Courier New", monospace;
    font-variant-ligatures: none;
    font-size: 13px;
    display: inline-block;
    padding: 3.5px 4px;
    line-height: 10px;
    color: #eee;
    vertical-align: middle;
    background-color: #555;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 #222;
}

.indented {
    display: inline-block;
    margin-left: 20px;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

abbr {
    cursor: help;
}

ul.lispacer li {
    margin-bottom: 5px;
}

.antiBotE:not(.noul):not(.shown) {
    cursor: pointer;
    color: #8f9aff;
    text-decoration: none;
}

.antiBotE:not(.noul):not(.shown):hover {
    color: #bcc2ff;
    text-decoration: underline;
}

.antiBotE.shown {
    font-family: "Roboto Mono", "Cascadia Code", "Courier New", monospace;
    text-decoration: none;
    cursor: text;
}

/*#SECTION Endpoints*/
.requestURLwrapper {
    border: 1px solid #777;
    border-radius: 2px;
    background-color: var(--bg-accent-color-darker);
    display: inline-block;
    font-size: 1em;
    padding: 3px;
    padding-left: 10px;
    padding-right: 40px;
    transition: background-color ease-out var(--sidenav-colorblur-speed);
    white-space: nowrap;
}

body[data-sidenav="opened"] .requestURLwrapper {
    background-color: var(--bg-accent-color-darker-sidenav-opened);
    transition: background-color ease-out var(--sidenav-colorblur-speed);
}

.requestMethodGET, .requestMethodPOST {
    display: inline-block;
    margin-right: 10px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.requestMethodGET {
    color: #7cfc00;
}

.requestMethodPOST {
    color: #6495ed;
}

.requestURL {
    display: inline-block;
    color: #ccc;
    font-family: "Cascadia Code", "Roboto Mono", "Consolas", monospace;
}

.supportedParamsBox {
    display: inline-block;
    /* border: 1px solid #bbb;
    border-radius: 2px;
    background-color: var(--bg-accent-color);
    padding: 6px; */
    padding-right: 30px;
}

.placeholder {
    color: #777;
}

footer#copyrightNotice {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

footer#copyrightNotice span {
    display: inline-block;
}

/*#SECTION Wrappers*/
#wrapperTable {
    border-spacing: 0;
    font-size: 110%;
}

#wrapperTable tr th {
    text-align: left;
    padding: 2px;
    padding-right: 20px;
    border: 1px solid white;
    border-style: none none solid none;
}

#wrapperTable tr th:first-child {
    padding-right: 20px;
}

#wrapperTable tr td {
    text-align: left;
    padding: 2px;
    padding-left: 6px;
    padding-right: 20px;
}

#wrapperTable tr:nth-child(2) td {
    padding-top: 4px;
}

#wrapperTable tr td.wrappericon {
    padding-right: 5px;
}

/*#SECTION submit*/

#submitContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-left: 20px;
}

.submitFlexItem {
    flex-grow: 1;
    white-space: nowrap;
}

.submitFlexItem.l {
    width: 100%;
    margin-left: 30px;
}

@media (max-width: 1100px) {
    #submitContainer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .submitFlexItem {
        white-space: normal;
    }

    .submitFlexItem.l {
        margin-top: 30px;
        margin-left: 0;
    }
}

#submitBtn {
    font-size: 1.5em;
}

#submitBtn:disabled {
    cursor: not-allowed;
}

textarea {
    white-space: pre;
    overflow: auto;
    resize: vertical;

    width: 100%;
    max-height: 8em;
}

#propertyTable tr td {
    vertical-align: top;
    padding-right: 5px;
}

/* #SECTION contributors */

#contributorsContainer .contributor {
    margin-top: 35px;
}

#contributorsContainer .contributor .contributorName {
    font-size: 1em;

    display: inline-block;
}

.contributorEmail {
    display: inline-block;
}

#contributorsContainer .contributor .contributorContact {
    display: inline;
}

.contributorLinksContainer {
    font-size: 0.8em;

    margin-left: 10px;
    display: inline-block;
}

.contributorContributionsList {
    font-size: 0.9em;
}

/* #contributorsContainer .contributor .contributorContact:after {
    content: "\a";
    white-space: pre;
} */

/*#MARKER sidenav*/
#sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: var(--sidenav-animation-speed);
    z-index: 1002;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));

    white-space: nowrap;
    line-height: initial;
}

#sidenav a, .sidenav-mimica {
    flex-grow: 1;
    padding: 5px 8px 5px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #a5a5a5;
    display: block;
    transition: color linear 0.3s;
}

#sidenav a:hover, .sidenav-mimica:hover {
    cursor: pointer;
    color: #fff;
}

#sidenav details > summary {
    padding-left: 32px;
}

#sidenav details > summary:first-of-type {
    list-style-type: none;
}

#sidenav details > summary:-webkit-details-marker {
    display: none;
}

#sidenav details:not([open]) > summary::before {
    flex-grow: 1;

    padding-left: 0px;
    padding-top: 0px;
    content: "⯈";
    transform: rotate(0deg);
    display: inline-block;

    transition: transform 0.1s ease-out;
}

#sidenav details[open] > summary::before {
    flex-grow: 1;

    padding-left: 0px;
    padding-top: 0px;
    content: "⯈";
    transform: rotate(90deg);
    display: inline-block;

    transition: transform 0.1s ease-out;
}

#sidenav details > summary > span.sidenav-mimica {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

#sidenav details > summary {
    cursor: pointer;
    color: #a5a5a5;
    transition: 0.3s;
}

#sidenav details > summary:hover {
    color: #f1f1f1;
    transition: 0.3s;
}

#sideNavOpen {
    white-space: nowrap;
    font-size: 30px;
    cursor: pointer;
    padding: 3px 10px;

    transition: color 0.2s ease-out;
}

#sideNavOpen:hover {
    color: var(--accent-color-light);
}

#sideNavOpen::after {
    content: "Menu";
    padding-left: 5px;
}

@media (max-width: 750px) {
    #sideNavOpen::after {
        content: "";
    }

    #changelogLink {
        font-size: 10px;
    }
}

#sidenav ul {
    flex-grow: 1;

    padding-top: 0;
    margin-top: 0;
    list-style-type: none;
    margin-left: 25px;
    padding-left: 0;
}

#sidenav ul > li > a {
    font-size: 15px;
}

#sidenav #sidenavContent {
    overflow-y: auto;
    overflow-x: hidden;
}

#sidenav .bottomspacer {
    margin-bottom: 50px;
}

#sidenav #sidenavHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 36px;
    width: 100%;
}

#sidenav #sidenavHeader .sidenavHeaderItem:not(.nopad) {
    flex-grow: 1;
    padding: 10px;
}

#sidenav #sidenavHeader .sidenavHeaderItem.nopad {
    flex-grow: 1;
    padding: 0px;
    padding-right: 15px;
}

#sidenav #sidenavHeader .sidenavHeaderItem.spacer {
    flex-grow: 5;
}

#sidenav .closebtn {
    font-size: 48px;
}

div.sidenavSpacer {
    display: block;
    min-height: 18px;
    max-height: 18px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#splashContainer {
    cursor: pointer;
    text-align: center;
    margin-top: auto;
}

#splashText {
    display: none;
    margin: 15px 20px;
    white-space: normal;
}

#splashContainer #splashText {
    transition: color linear 0.05s;
    color: #fff;
}

#splashContainer:hover #splashText {
    color: var(--accent-color-light);
}

/* 
.docHeader .headerAnchorContainer {
    cursor: pointer;
    margin-right: 10px;
    filter: opacity(30%);

    transition: filter 0.075s linear;
}

.docHeader .headerAnchorContainer:hover {
    filter: opacity(100%);
    text-decoration: none !important;
} */

.docHeader .headerAnchorContainer {
    position: relative;
    bottom: 5px;
    font-size: 0.75em;
    text-decoration: none;
    text-underline-offset: initial;
    padding-right: 10px;

    color: rgba(188, 194, 255, 0.4);
    transition: color 0.075s linear;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.docHeader .headerAnchorContainer:hover {
    color: rgba(188, 194, 255, 1.0);
    text-decoration: inherit;
}

.headerAnchorContainer {
    display: inline-block;
    margin-top: 20px;
}

.targetBlink:target {
    animation: targetBlink 1.5s;
    animation-iteration-count: 1;
    animation-delay: var(--targetblink-animation-delay);
}

@keyframes targetBlink {
    0% {
        border-color: var(--doc-header-color);
        color: #fff;

        border-width: 2px;
    }
    10% {
        border-width: 4px;
    }
    25% {
        border-color: var(--accent-color-light);
        color: var(--accent-color-light);
    }
    75% {
        border-color: var(--accent-color-light);
        color: var(--accent-color-light);
    }
    90% {
        border-width: 4px;
    }
    100% {
        border-color: var(--doc-header-color);
        color: #fff;

        border-width: 2px;
    }
}

.docHeader {
    font-size: var(--doc-header-font-size);
    border: 2px solid var(--doc-header-color);
    border-style: none none solid none;
    padding-bottom: 2px;
    margin-bottom: 10px;
    margin-top: 55px;
    line-height: initial;
}

.docHeader:not(:first)
{
    margin-top: 50px;
}

.subHeaderContainer {
    display: block;
    margin-top: 25px;
    margin-bottom: 8px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.subHeaderContainer .subHeader {
    font-size: var(--doc-sub-header-font-size);
}

.subHeaderContainer a {
    vertical-align: super;
    font-size: smaller;
    text-decoration: none;
    text-underline-offset: initial;

    color: rgba(188, 194, 255, 0.4);
    transition: color 0.075s linear;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subHeaderContainer a:hover {
    color: rgba(188, 194, 255, 1.0);
    text-decoration: inherit;
}

.smallText {
    font-size: small;
}

/*#SECTION usage terms */

#usageTermsContainer {
    margin-top: 10px;
    display: block;
    text-align: center;
}

#usageTerms {
    display: none;
    background-color: var(--bg-accent-color);
    text-align: left;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#usageTerms[data-animate-border="true"] {
    animation: targetBlink 1.5s;
    animation-iteration-count: 1;
}

#usageTerms > h2 {
    margin-top: 0;
    color: orangered;
}

h3 {
    margin: 10px auto;
}

#percent-encoder-table {
    display: block;
    margin-top: 3px;
}

#percent-encoder-table td {
    padding-left: 0;
}

.percent-encoder-input {
    margin-left: 10px;
    width: 300px;
}

#usageTermsInnerLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#usageTermsInnerLayout > .itm {
    flex-grow: 1;
}

#usageTermsInnerLayout > .itm:last-of-type {
    text-align: right;
}

/*#SECTION try it */
#tryItContainer table tr td {
    vertical-align: middle;
}

#tryItContainer table tr:not(:last-of-type) > td {
    padding-bottom: 15px;
}

#tryItFormLatency {
    font-size: 90%;
}

#tryItErrors {
    color: #d92727;
}

.highlightedContainer {
    display: block;
    background-color: var(--bg-accent-color);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

body[data-sidenav="opened"] .highlightedContainer {
    background-color: var(--bg-accent-color-sidenav-opened);
}

#tryItContainer table tr td {
    padding-right: 20px;
}

#catSelectMulti {
    padding-left: 20px;
}

.multiselect, #urlBuilderWrapper, #resultWrapper {
    background-color: #222;
    border: 1px solid #fff;
    padding: 6px;
    padding-right: 11px;
    border-radius: 5px;
}

body[data-sidenav="opened"] .multiselect, body[data-sidenav="opened"] #urlBuilderWrapper, body[data-sidenav="opened"] #resultWrapper {
    background-color: #555;
}

input[disabled] {
    cursor: not-allowed;
}

input[disabled]+label {
    color: #bbb;
    cursor: not-allowed;
}

#searchStringInput {
    width: 100%;
}

#urlBuilderWrapper {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 16px;
}

#urlBuilderWrapper button {
    font-size: 17px;
    padding: 3px 8px 3px 8px;
}

#urlBuilderUrl {
    display: inline-block;
    padding: 10px 5px 10px 8px;
}
