:root {
    --bg-color: #444;
    --bg-color-sidenav-opened: #777;
    --header-bg-color: #222;
    --header-bg-color-sidenav-opened: #555;

    --accent-color: #8a2be2;
    --accent-color-sidenav-opened: #a779d3;

    --sidenav-animation-speed: 0.3s;
}

@font-face { 
    font-family: "Cascadia Code";
    src: url("./cascadia-code.ttf");
}






/* #MARKER BEGIN */

html {
    scroll-behavior: smooth;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: white;
    font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
    font-size: 15px;

    transition: background-color var(--sidenav-animation-speed);

    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
}

body[data-sidenav="opened"] {
    background-color: var(--bg-color-sidenav-opened);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body[data-sidenav="closed"] {
    background-color: var(--bg-color);

    -webkit-touch-callout: inherit;
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background-color: var(--header-bg-color);
    z-index: 1000;

    transition: filter linear var(--sidenav-animation-speed), width linear var(--sidenav-animation-speed);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;

    filter: grayscale(0%) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));
}

header[data-grayscaled="true"] {
    filter: grayscale(100%) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
    background-color: var(--header-bg-color-sidenav-opened);
    width: 100%;
}

header .headeritem {
    display: inline-block;
    flex-grow: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

header .headeritem.m {
    flex-grow: 1;
    text-align: center;
}

header .headeritem.r {
    text-align: right;
}

header h1 {
    margin: 0;
}

#headerversion {
    padding-right: 10px;
}

#headersidenavopenwrapper {
    padding-left: 10px;
}

.noul, .mimica {
    cursor: pointer;
}

a:not(.noul), .mimica:not(.noul) {
    color: #152cff;
}

a:not(.noul):hover, .mimica:not(.noul):hover {
    color: #5667ff;
    text-decoration: underline;
}

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: var(--sidenav-animation-speed);
    padding-top: 60px;
    z-index: 1001;

    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6));

    white-space: nowrap;
}

#sidenav a, .sidenav-mimica {
    padding: 5px 8px 5px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #a5a5a5;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover, .sidenav-mimica:hover {
    cursor: pointer;
    color: #f1f1f1;
}

#sidenav details > summary:first-of-type {
    list-style-type: none;
}

#sidenav details > summary:-webkit-details-marker {
    display: none;
}

#sidenav details:not([open]) > summary::before {
    padding-left: 32px;
    content: "⯈ ";
    display: inline;
}

#sidenav details[open] > summary::before {
    padding-left: 32px;
    content: "⯆ ";
    display: inline;
}

#sidenav details > summary > span.sidenav-mimica {
    display: inline-block;
    padding-left: 0px;
}

#sidenav details > summary {
    cursor: pointer;
    color: #a5a5a5;
    transition: 0.3s;
}

#sidenav details > summary:hover {
    color: #f1f1f1;
    transition: 0.3s;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#sideNavOpen {
    font-size: 30px;
    cursor: pointer;
}

#sidenav ul {
    padding-top: 0;
    margin-top: 0;
    list-style-type: none;
    margin-left: 25px;
    padding-left: 0;
}

#sidenav ul > li > a {
    font-size: 15px;
}

#content {
    padding: 16px;
    margin: 10px;
    transition: margin-left var(--sidenav-animation-speed);
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body[data-sidenav="closed"] code, body code {
    font-family: "Cascadia Code", "Inconsolata", "Courier New", "Consolas", monospace;

    white-space: pre;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    background-color: #000;
    display: block;
    padding: 10px 10px 10px 20px;

    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    border-left: 8px solid var(--accent-color) !important;

    filter: grayscale(0%);

    transition: filter linear var(--sidenav-animation-speed);
}

body[data-sidenav="opened"] code {
    background-color: #555;

    filter: grayscale(50%);

    transition: filter linear var(--sidenav-animation-speed);
}

body code .nocode.codeheader {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    
    border: 1px solid white;
    border-style: none none solid none;
}