            @import url('https://fonts.googleapis.com/css?family=Roboto');
            @import url('https://fonts.googleapis.com/css?family=Open+Sans');
            body {
                font-family: "Roboto", sans-serif;
                font-size: 17px;
            }
            kbd {
                font-family: "Consolas", monospace;
            }
            kbd:not(.block) {
                background-color: rgb(255, 255, 155);
                color: black;
                padding: 1px;
            }
            kbd.block {
                display: block;
                background-color: black;
                color: white;
                padding: 10px;
                padding-left: 35px;
                margin-top: 10px;
                margin-bottom: 10px;
                border-style: none none none solid;
                border-color: blueviolet;
                border-width: 10px;
            }
            .subtxt {
                font-size: 70%;
                color: #666; /*   <(O_O)>   oh no help satan   */
            }
            a.hidden {
                color: inherit;
                text-decoration: none;
                position: relative;
                bottom: 0;
                transition: bottom 0.4s ease-out;
                cursor: pointer;
            }
            a.hidden:hover {
                text-decoration: underline;
                position: relative;
                bottom: 0.1vw;
                transition: bottom 0.1s linear;
            }
            #desc {
                margin-top: 20px;
                margin-bottom: 80px;
            }
            #submitjokeformframe {
                border: none;
                width: 100%;
                height: 90%;
            }
            .mimica, a {
                color: #55f;
                text-decoration: none;
                cursor: pointer;
            }
            a:hover, .mimica:hover {
                text-decoration: underline;
            }
            .rot90 {
                display: inline-block;
                transform: rotate(90deg);
            }
            i.pc1, kbd .string {
                text-decoration: none;
                color: yellowgreen;
            }
            i.pc2, kbd .number {
                text-decoration: none;
                font-style: normal;
                color: orange;
            }
            i.pc3, kbd .key {
                text-decoration: none;
                font-style: normal;
                color: rgb(97, 171, 255);
            }
            i.pc4, kbd .boolean {
                text-decoration: none;
                font-style: normal;
                color: rgb(255, 108, 108);
            }
            #timg {
                display: inline-block;
                width: 35px;
                height: 35px;
            }
            #dtitle {
                font-size: 40px;
            }

            /* thanks to https://stackoverflow.com/questions/27571498/multi-selection-horizontal */
            #multipleSelectWrapper {
                display: inline-block;
                padding: 0;
                width: auto;
                height: 20px;
            }

            select[multiple] {
                overflow: visible;
                height: 20px;
                padding: 0;
                padding-left: 1px;
                border: none;
                background-color: #eee;
                width: auto;
            }
            select[multiple] option {
                cursor: pointer;
                border: 1px solid #000;
                background-color: white;
                margin-left: -1px;
                display: inline-block;
                float: left;
                height: 20px;
            }
 
            h3 a[name], h2 a[name] {
                color: black;
                text-decoration: none;
                cursor: text;
            }

            a.anchorSym:not(.noOpacity) {
                filter: opacity(20%);
                text-shadow: 0px 0px #3d3d3d;
                transition: filter 0.1s linear, text-shadow 0.1s linear, color 0.1s linear;
                text-decoration: none;
                color: black;
                margin-right: 2px;
            }

            a.anchorSym.noOpacity {
                text-decoration: none;
                color: black;
            }

            h2:hover a.anchorSym:not(.noOpacity), h3:hover a.anchorSym:not(.noOpacity) {
                filter: opacity(100%);
                color: black;
                transition: filter 0.1s linear, color 0.1s linear;
            }

            h2 a.anchorSym:not(.noOpacity):hover, h3 a.anchorSym:not(.noOpacity):hover {
                text-shadow: 2px 2px 3px rgba(138, 43, 226, 0.6);
                color: #000;
                transition: text-shadow 0.1s linear, color 0.1s linear;
            }

            h2 {
                border-style: none none solid none;
                border-width: 2px;
                border-color: black;
                padding-bottom: 4px;
            }

            #sctopbtn {
                display: inline-block;
                position: fixed;
                right: 15px;
                bottom: 15px;
                border: 2px solid blueviolet;
                border-radius: 10000px;
                background-color: black;
                color: white;
                font-size: 45px;
                width: 55px;
                height: 55px;
                text-align: center;
                cursor: pointer;
                filter: none;

                transition: color 0.2s linear, filter 0.2s linear;
            }

            #sctopbtn:hover {
                color: #ccc;
                filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
                transition: color 0.1s linear, filter 0.1s linear;
            }